[submodule "mcw-edit-tool/mcp"]
	path = mcw-edit-tool/mcp
	url = https://github.com/euxcbsks/mcp
[submodule "tool_pack/mcp"]
	path = tool_pack/mcp
	url = https://github.com/MCW-My-Colony-Wiki/mcp
[submodule "tool_pack/tam"]
	path = tool_pack/tam
	url = https://github.com/MCW-My-Colony-Wiki/MCW_template-and-module
